header{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 15px;
    padding: 5px;
    color: #f7f7f7;
    margin-bottom: 1%;
    margin-top: 1%;
}
#imageA{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border: 2px solid #0048ff;
    position: absolute;
    top: 70px;
    right: 20px;
}
a{
    text-decoration: none;
    text-align: center;
    font-family:'Times New Roman';
    font-size: 15px;
    padding: 50px;
    color: black;
    margin-bottom: 1%;
    margin-top: 1%;
}
button{
    text-align: center;
    padding: 50px;
    color: black;
    margin-bottom: 0%;
    margin-top: 0%;
    border-radius: 10px;
    border: 2px solid #0048ff;
    padding: 0%;
    height:40px;
    width: 190px;
}
button:hover{
    color:#ebe6e6;
    background-color: #89a3e6;
    border: 2px solid #fdfdfd;
    border-radius: 20px;
}
body{
    text-align:center;
    color: #ebe6e6;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(to left, #000000, #4d76de);
    height:500%;
    background-repeat: none;
    font-size: 18px;
    font-weight: bold;
}
#h{
    color:#f7f7f7;
    font-size: 25px;

}
#username{
    text-align:center;
    font-family:'Times New Roman';
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #044bff;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #f9fffc;
}
#password{
    text-align:center;
    font-family:'Times New Roman';
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #fefffe;
}
#email{
    text-align:center;
    font-family:'Times New Roman';
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #fbfffd;
}
#phone{
    text-align:center;
    font-family:'Times New Roman';
    font-size: 15px;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #fefffe;
}
#birthdate{
    text-align:center;
    font-family:'Times New Roman';
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
#reset{
    text-align:center;
    font-family:'Times New Roman';
    width: 65px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: linear-gradient(to right, #973e3e, #d38f4b);
}
#submit{
    text-align: center;
    font-family:'Times New Roman';
    width: 75px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #4d76de;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #f8fff7fe;
}
#submit:hover{
    background-color: #4d76de;
    color: #f7f7f7;
}
#reset:hover{
    background-color: #80a4ff;
    color: #f81414;
}
footer{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 16px;
    padding: 5px;
    bottom: 0px;
    width: 100%;
}
#F{
    text-align: center;
    font-family:'Times New Roman';
    font-size: 15px;
    padding: 5px;
    bottom: 2px;
    color: #f7f7f7;
}