*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(29, 12, 52);
    color:rgb(250, 250, 250);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(26, 4, 70);
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    margin: 0px 32px;
}
.left{
    font-size: 1.5rem;
}
.left:hover{
    font-size: 1.7rem;
    color:aquamarine;
}
.right ul li a{
    text-decoration: none;
    color:aliceblue;
}
.right ul li a:hover{
    font-size: 1.1rem;
    color:aquamarine;
}
.firstsection{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}
.firstsection > div{
    width: 45%;
}
.leftsection{
    position: relative;
    top: 10px;
    font-size: 2rem;
    margin: 122px 90px
}
.leftsection .button{
    position: relative;
    top: 5px;
}
.leftsection .button button{
    height: 40px;
    background-color: rgb(211, 219, 217);
    border-radius: 10px;
    border-color:rgb(134, 3, 248);
    padding: 12px;
}
.leftsection .button button:hover{
    height: 37px;
    background-color: rgb(137, 225, 121);
    border-radius: 7px;
    border-color:rgb(0, 13, 251);
}
.rightsection img{
    position: relative;
    margin: 61px 142px;
    width: 250px;
}
#element{
    color:blueviolet;
}
main hr{
    position: relative;
    border: 0;
    background-color: aquamarine;
    height: 1px;
    margin: 23px 104px;
}
.secondsection{
    position: relative;
    left: 101px;
    height: 30rem;
}
.grey{
    color: grey;
}
.secondsection .horizontal{
    background-color: aquamarine;
    height: 1.5px;
    width: 70vw;
    margin: 90px 87px;
    display: flex;
}
.secondsection .vertical{
    background-color: aquamarine;
    height: 90px;
    width: 1px;
    margin: 5px 105px;
}
.image1{
    width: 52px;
    height: 54px;
    position: relative;
    top: -63px;
    right: 26px;
}
.vertical_title{
    width: 200px;
    position: relative;
    margin: 31px -1px;
}
.vertical_desc{
    width: 200px;
    position: relative;
    margin: -21px -1px;
    color: grey;
    font-size: 12px;
}
footer{
    background-color: #421c64;
    height: 10rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.footer > div ul li{
    list-style: none;
}
.footer h3{
    position: relative;
    top: 67px;
    font-size: 20px;
}
.footer ul .header{
    font-size: 15px;
    color:aliceblue;
}
.footer ul li{
    font-size: 12px;
    color: grey;
}
.footer_rights{
    justify-items: center;
}
.footer_rights h4{
    position: relative;
    top: 29px;
}
.footer_rights img{
    width: 28px;
    margin: 4px 22px;
}